---
permalink: /archieves/
layout: default
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" | sort: 'name' | reverse %}

{% for year in postsByYear %}
    {% assign itemsNum = year.items | size %}
    <span>
      <a href="#section-{{ year.name }}" class="tag-list">
      {{ year.name }}<span class="tag-num">{{ itemsNum }}</span>
      </a>
    </span>
{% endfor %}

<div class="horizontal-line"></div>
{% for year in postsByYear %}
    <div id="section-{{ year.name }}" class="group-title">{{ year.name }}</div>
    <table>
        {% for post in year.items %}
        <tr>
          <th class="text-last-updated"><img src="/assets/images/date-icon-2024-01-31-1311.svg" class="icon-setting">{{ post.created }}</th>
          <th class="table-content"><a href="{{ post.url }}">{{ post.title }}</th>
        </tr>
        {% endfor %}
    </table>
{% endfor %}