.grid_page {
    text-align: left;
    border-width: thin;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
  font-size:x-large;
  font-weight: 200;
  padding-bottom: 10px;
  margin-top: 1.2em;
  margin-bottom: 0.2em;
  font-weight: bold;
}
.title a {
    color: rgb(181, 94, 94);
}

.horizontal-line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}
.block {
    height: 10em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    font-weight: 50;
}
tr:nth-child(odd) {
    background-color: white; /* Light gray for odd rows */
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Dark gray for even rows */
}
.group-title {
    font-size:x-large;
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.tag-num {
    vertical-align: top;
    font-size: x-small;
}

.tag-list{
    background-color: #556bd8;
    border-radius: 0.8em;
    border-color: rgb(109, 109, 109);
    border-width: thin;
    padding: 1em;
    margin: 0.2rem;
    font-size:small;
    font-weight: bold;
    color:white;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.tag-list:hover {
    font-weight: bold;
}

.table-content a {
    color: black;
}