---
layout: default
---
{% if page.image %}
<img src={{ page.image }} class="container">
<div style="margin-bottom: 2em;"></div>
{% endif %}

<h1 class="p-justify py-1">{{ page.title }}</h1>

{% capture read_time %}
  {{ page.content | number_of_words | divided_by: 180 }}
{% endcapture %}

<p class="text-size-smaller text-last-updated">
    <img src="/assets/images/date-icon-2024-01-31-1311.svg" class="icon-setting">{{ page.created }}
    <img src="/assets/images/time-icon-2024-01-31-1332.svg" class="icon-setting"> {{ read_time }} minutes
</p>

{{content}}

<div class="py-4"></div>
<tr>
    {% for tag in page.tags %}
    <td><a href="/categories/#section-{{ tag }}"><page-tag>{{ tag }}</page-tag></a></td>
    {% endfor %}
</tr>